body,
html,
.heading {
    font-size: 10px;
    color: white;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: auto;
    background: #1A1A1A;
}

* {
    box-sizing: border-box;
}


a.navbar-brand {
    color: white;
    font-size: 4.8rem;
    font-family: 'ButlerRegular';
    margin-left: 30px;

}

.navbar {
    width: 100%;
    top: 0px;
    color: white;
    left: 0;
    right: 0;
}

.zaglowie {
    height: 88.25px;
    background: #1A1A1A;
}

.bg-nav {
    background: #1A1A1A;
}

.navbar-toggler-icon {
    position: relative;
}

.navbar-toggler-icon::before {
    content: "\f0c9";
    color: white;
    font-size: 5rem;
    margin-bottom: 50px;
}

.nav-link {
    font-size: 2.4rem;
    font-family: 'ButlerRegular';
    color: white;
}

.carousel-slide {
    text-align: right;
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    max-width: 15px;
    min-height: 15px;
    border-radius: 100%;
}

.carousel-caption {
    top: 10%;
    transform: translateY(-50%);
    transform: translateX(25%);
    z-index: -1;
}

.carousel-caption p {
    font-size: 4.8rem;
}

.carousel-caption h3 {
    font-size: 15rem;
    font-family: 'ButlerRegular';
}

/*
.sitting_man {
    background-image: url(../images/sitting_man.png);
    display: inline-block;
    width: 100%;
    background-size:cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
*/

.new_arrival {
    height: auto;
    background: #1A1A1A;
    color: white;
    text-align: center;
    padding-top: 3%;
}

.heading {
    font-size: 17rem;
    font-family: 'ButlerRegular';
}

.pr {
    font-size: 4.8rem;
}

/*
.bg3 {
    background-image: url(../images/alex-holyoake-235022-unsplashor.png);
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
*/
.bg3 > .container {
    padding-top: 30%;
    transform: translateY(-80%);
    transform: translateX(60%);
}

.bg3 > .container h3 {
    font-size: 8.1rem;
    line-height: 8rem;
    font-family: 'ButlerRegular';
}

.bg3 > .container p {
    font-size: 4.8rem;
    font-family: 'ButlerRegular';
}

.container {
    margin: 0;
    padding: 0;
}

/*
.bg4 {
    background-image: url(../images/Mask%20Group%203.png);
    display: inline-block;
    width: 100%;
    background-size:cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
*/

.media {
    background: #1A1A1A;
    border-bottom: 0.5px white solid;
}

.media img {
    margin-top: 3rem
    margin-bottom: 3rem;
    margin-right: 7rem;
}

.media-body {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
}

.media-body h3 {
    font-size: 4.8rem;
    font-family: 'ButlerRegular';
}

.media-body p {
    font-size: 2.8rem;
    font-family: Roboto;
    font-weight: lighter;
    color: #AAAAAA;
}

.media-body small {
    font-size: 2.4rem;
    font-family: Roboto;
    color: #AAAAAA;
    font-weight: lighter;
    font-style: italic;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.mail {
    background-image: url(../images/ben-rosett-10614-unsplashro.png);
    line-height: 3;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

footer {
    background: #1A1A1A;
    color: white;
    padding-left: 30px;
}

.fab {
    font-size: 2.4rem;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.mail-form h3 {
    font-family: 'ButlerRegular';
    font-size: 6.4rem;
    color: white;
}

.mail-form h5 {
    font-family: Roboto;
    color: white;
    line-height: 3;
}

.mail-form input {
    max-width: 300px;
    width: 100%;
}

.mail-form button {
    max-width: 50px;
    width: 100%;
}

.c-grey {
    color: #AAAAAA;
}

@media (max-width:992px) {

    body,
    html {
        font-size: 7px;
    }

    .mail-form input {
        max-width: 200px;
        width: 100%;
    }

    .zaglowie {
        height: 61.38px;
    }
}

@media (max-width:768px) {

    body,
    html {
        font-size: 6px;
    }

    .zaglowie {
        height: 52.42px;
    }
}

@media (max-width:576px) {

    body,
    html {
        font-size: 5px;
    }

    .zaglowie {
        height: 44.13px;
    }
