@media (min-width:767px) {

    body,
    html {
        font-size: 5px;
    }
}
body,
html,
.heading {
    font-size: 10px;
    color: white;
    margin: 0px;
    padding: 0px;
}


a.navbar-brand {
    color: white;
    font-size: 4.8rem;
    font-family: 'ButlerRegular';
    margin-left: 30px;

}

.navbar {
    width: 100%;
    top: 0px;
    color: white;
    left: 0;
    right: 0;
}

.bg-nav {
    background: #1A1A1A;
}

.nav-link {
    font-size: 2.4rem;
    font-family: 'ButlerRegular';
    color: white;
}

.carousel-caption {
    position: relative;
    top: 50px;
}

.carousel-indicators li {
    max-width: 15px;
    min-height: 15px;
    border-radius: 100%;
}

.sitting_man {
    background-image: url(../images/sitting_man.png);
    height: auto;
    background-size: cover;
    height: 800px;
}

.new_arrival {
    height: auto;
    background: #1A1A1A;
    color: white;
    text-align: center;
    padding: 70px;
}

.heading {
    font-size: 17rem;
    font-family: 'ButlerRegular';
}

.pr {
    font-size: 4.8rem;
}

.bg3 {
    background-image: url(../images/alex-holyoake-235022-unsplashor.png);
    background-size: 100% 100%;
    width: 100%;
    height: 960px;
    margin-left: 0px;
    margin-right: 0px;
}

.bg4 {
    background-image: url(../images/Mask%20Group%203.png);
    background-size: cover;
}

.media {
    background: #1A1A1A;
    border-bottom: 0.5px white solid;
}

.media img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.media-body {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.media-body h3 {
    font-size: 4.8rem;
}

.media-body p {
    font-size: 2.8rem;
}

container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.mail {
    background-image: url(../images/ben-rosett-10614-unsplashro.png);
    background-size: cover;
    height: 960px;
}

footer {
    background: #1A1A1A;
    color: white;
}

.fab {
    font-size: 2.4rem;
}
.vertical-center {
 
  min-height: 100vh;

  display: flex;
  align-items: center;
}