body,
html,
.heading {
    font-size: 9px;
    color: white;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: auto;
    background-color: #1A1A1A;
}

* {
    box-sizing: border-box;
}
footer a{
    color: white;
}

.nav-items {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 20px 0;
    background: #1A1A1A;
}
.brand {
    margin-right: 30%;
    margin-left: 10%
}

.nav-items li:first-child{
}

.nav-items li {
    display: inline;
    margin-left: 30px;
  
}
.nav-items a {
    display: inline-block;
    color: white;
    font-size: 2.4rem;
    font-family: 'ButlerRegular';
}
.nav-items li:first-child{
    text-align: left;
}

.zaglowie {
    height: 78.63px;
    background: #1A1A1A;
}



.carousel  {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-indicators li {
    max-width: 15px;
    min-height: 15px;
    border-radius: 100%;
}

.carousel-caption {
    top: 10%;
    transform: translateY(-50%);
    transform: translateX(25%);
    z-index: -1;
    position: relative;
}

.carousel-caption p {
    font-size: 4.8rem;
}

.carousel-caption h3 {
    font-size: 15rem;
    font-family: 'ButlerRegular';
}



.new_arrival {
    height: auto;
    background: #1A1A1A;
    color: white;
    text-align: center;
    padding-top: 3%;
}

.heading {
    font-size: 17rem;
    font-family: 'ButlerRegular';
}

.pr {
    font-size: 4.8rem;
}

.bg3 > .container {
    padding-top: 30%;
    transform: translateY(-80%);
    transform: translateX(60%);
}

.bg3 > .container h3 {
    font-size: 8.1rem;
    line-height: 8rem;
    font-family: 'ButlerRegular';
}

.bg3 > .container p {
    font-size: 4.8rem;
    font-family: 'ButlerRegular';
}

.container {
    margin: 0;
    padding: 0;
}

.marcelo {
    position: relative;
    text-align: center;
}

.top-right {
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: left;
}

.marcelo h3 {
    font-size: 15rem;
    font-family: 'ButlerRegular';
    font-weight: bold;
}

.marcelo p {
    font-size: 4rem;
    font-family: 'ButlerRegular';
}


.media {
    background: #1A1A1A;
    border-bottom: 0.5px white solid;
}
.media:last-child{
    border-bottom: unset;
}

.media img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 7rem;
}

.media-body {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
}

.media-body h3 {
    font-size: 4.8rem;
    font-family: 'ButlerRegular';
}

.media-body p {
    font-size: 2.8rem;
    font-family: Roboto;
    font-weight: lighter;
    color: #AAAAAA;
}

.media-body small {
    font-size: 2.4rem;
    font-family: Roboto;
    color: #AAAAAA;
    font-weight: lighter;
    font-style: italic;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.mail {
    background-image: url(../images/ben-rosett-10614-unsplashro.png);
    line-height: 3;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

footer {
    background: #1A1A1A;
    color: white;
    padding-left: 30px;
    font-size: 2rem;
}

footer h5 {
    font-size: 2.4rem;
}

.fab {
    font-size: 2.4rem;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.mail-form h3 {
    font-family: 'ButlerRegular';
    font-size: 8rem;
    color: white;
}

.mail-form h5 {
    font-family: Roboto;
    color: white;
    line-height: 3;
    font-size: 2.4rem;
}

.mail-form input {
    max-width: 300px;
    width: 100%;
     border: none;
    margin: 0;
    position: relative;
    height: 50px;
    padding: 20px;
    display: inline-block;
}

.mail-form button {
    max-width: 50px;
    width: 100%;
    border: none;
    margin-right:10%;
    height: 50px;
    max-width: 70px;
}
::-webkit-input-placeholder {
    font-size: 2rem;
    color: #AAAAAA;
}

.c-grey {
    color: #AAAAAA;
}

@media (max-width:992px) {

    body,
    html {
        font-size: 7px;
    }

    .mail-form input {
        max-width: 200px;
        width: 100%;
    }

    footer {
        font-size: 12px;
    }

    .zaglowie {
        height: 61.38px;
    }
}

@media (max-width:768px) {

    body,
    html {
        font-size: 5px;
    }

    footer {
        font-size: 11px;
    }

    .zaglowie {
        height: 44.13px;
    }
}

@media (max-width:576px) {

    body,
    html {
        font-size: 3px;
    }

    footer {
        font-size: 10px;
    }

    .zaglowie {
        height: 25.88px;
    }
